{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:import/errors"
  ],
  "plugins": ["import"],
  "env": { "node": true, "es6": true },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "rules": {
    "sort-imports": 0,
    "import/order": [2, { "alphabetize": { "order": "asc" } }],
    "import/no-unresolved": "off"
  }
}
